.bandera{
  display: inline-block;
  background: #FFFF00;
  height: 25px;
  width: 150px;
  margin-right: 10px;
}
.bandera2 {
  display: inline-block;
  background: #FA50B0;
  height: 25px;
  width: 30px;
  margin-right: 10px;
}
